---
import MainLayout from "../../layouts/MainLayout.astro";
// const foregroundColor = "hsl(20, 50%, 50%)";
// const backgroundColor = "hsl(200, 50%, 50%)";
---

<MainLayout title="Home">
  <p>Blog</p>
</MainLayout>
